/* .navbar-nav .nav-item {
    border-right: none !important;
}

.navbar-nav .nav-item::after {
    content: none !important;
}

.dropdown-menu .dropdown-item {
    border-bottom: none !important;
} */


.avatar{
    border-radius: 50%;
}
.miniature{
    width: 80px;
    height: auto;
}
.supermini{
    width: 40px;
    height: auto;
}